NODE_ENV=production
GATEWAY_PORT=3000
JWT_ACCESS_SECRET=local_shared_access_secret_change_me_32_chars
IAM_SERVICE_URL=http://iam-service:3001/api/v1
SOCIAL_SERVICE_URL=http://social-service:3002/api/v1
MEDIA_SERVICE_URL=http://media-service:3003/api/v1
STORIES_SERVICE_URL=http://stories-service:3004/api/v1
CORS_ORIGIN=*
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=100
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
